Package: Celest
Depends: libsecret-1-dev, gnome-keyring, libsqlite3-dev
Version: {{ version }}
Maintainer: Teo, Inc.
Architecture: {{ arch }}
Description: The CLI for Celest, the Flutter cloud platform
