name: celest_auth
on:
  pull_request:
    paths:
      - ".github/workflows/celest_auth.yaml"
      - "packages/celest_auth/**"

# Prevent duplicate runs due to Graphite
# https://graphite.dev/docs/troubleshooting#why-are-my-actions-running-twice
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}-${{ github.ref == 'refs/heads/main' && github.sha || ''}}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest-xlarge
    timeout-minutes: 15
    steps:
      - name: Git Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # 4.2.1
      - name: Setup Flutter
        uses: subosito/flutter-action@74af56c5ed2697ba4621264652728e8d217e53d3 # 2.17.0
        with:
          channel: stable
          cache: true
      - name: Setup Melos
        run: dart pub global activate melos
      - name: Get Packages
        run: melos bootstrap
      - name: Analyze
        working-directory: packages/celest_auth
        run: dart analyze --fatal-infos --fatal-warnings
      - name: Format
        working-directory: packages/celest_auth
        run: dart format --set-exit-if-changed .
      # - name: Test
      #   working-directory: packages/celest_auth
      #   run: dart test
      - name: Test (Example)
        working-directory: packages/celest_auth/example/celest
        run: dart test
      - name: Build Example (iOS)
        working-directory: packages/celest_auth/example
        run: flutter build ios --no-codesign
      - name: Build Example (Web)
        working-directory: packages/celest_auth/example
        run: flutter build web
