name: celest_cli
on:
  pull_request:
    paths:
      - ".github/workflows/celest_cli.yaml"
      - "apps/cli/**"
  push:
    branches:
      - main
    paths:
      - "packages/**"
      - "services/celest_cloud_auth/**"

# Prevent duplicate runs due to Graphite
# https://graphite.dev/docs/troubleshooting#why-are-my-actions-running-twice
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}-${{ github.ref == 'refs/heads/main' && github.sha || ''}}
  cancel-in-progress: true

env:
  CELEST_LOCAL_PATH: ${{ github.workspace }}

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-large
          - macos-latest-xlarge
          # - windows-large
    runs-on: ${{ matrix.os }}
    timeout-minutes: 45
    steps:
      - name: Git Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      - name: Setup Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # 2.21.0
        with:
          cache: true
          flutter-version: 3.35.0-0.3.pre # TODO: Remove when beta channel is back to normal
          channel: beta # Remove when native assets is available in stable
      - name: Setup Libsecret
        if: runner.os == 'Linux'
        run: tool/setup-ci.sh
      - name: Get Packages
        working-directory: apps/cli
        run: dart pub upgrade
      - name: Test
        working-directory: apps/cli
        run: dart test -x e2e --fail-fast -j8 --reporter=failures-only
      - name: Test (Fixtures)
        working-directory: apps/cli
        run: dart test fixtures/fixtures_test.dart --fail-fast -j 1 --reporter=failures-only
