name: celest
on:
  pull_request:
    paths:
      - ".github/workflows/celest.yaml"
      - "packages/celest/**"

# Prevent duplicate runs due to Graphite
# https://graphite.dev/docs/troubleshooting#why-are-my-actions-running-twice
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}-${{ github.ref == 'refs/heads/main' && github.sha || ''}}
  cancel-in-progress: true

jobs:
  analyze_and_format:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Git Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
      - name: Setup Flutter
        uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1 # 2.16.0
        with:
          channel: stable
          cache: true
      - name: Setup Melos
        run: dart pub global activate melos
      - name: Setup Turso
        run: curl -sSfL https://get.tur.so/install.sh | bash
        env:
          TURSO_INSTALL_SKIP_SIGNUP: true
      - name: Get Packages
        run: melos bootstrap
      - name: Analyze
        working-directory: packages/celest
        run: dart analyze --fatal-infos --fatal-warnings
      - name: Format
        working-directory: packages/celest
        run: dart format --set-exit-if-changed .
      - name: Test
        working-directory: packages/celest
        run: dart test
      - name: Test (dart2js)
        working-directory: packages/celest
        run: dart test -p chrome
      - name: Test (dart2wasm)
        working-directory: packages/celest
        run: dart test -p chrome -c dart2wasm
