name: celest_cli (Release)
on:
  workflow_dispatch:
  push:
    tags:
      - 'celest_cli-v*.*.*'

env:
  CELEST_NO_ANALYTICS: true

permissions:
  contents: write

# Prevent duplicate runs due to Graphite
# https://graphite.dev/docs/troubleshooting#why-are-my-actions-running-twice
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}-${{ github.ref == 'refs/heads/main' && github.sha || ''}}
  cancel-in-progress: true

jobs:
  bundle:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Git Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

      - name: Setup Flutter
        uses: subosito/flutter-action@395322a6cded4e9ed503aebd4cc1965625f8e59a # 2.20.0
        with:
          cache: true

      - name: Fix pub cache
        run: |
          dart pub get
          dart run fix_pub_cache.dart
        working-directory: tool

      - name: Get Packages
        run: dart pub get
        working-directory: apps/cli

      - name: Create Bundle
        id: bundle
        run: dart run tool/release.dart --target-os=linux --target-arch=x64 --target-arch=arm64
        working-directory: apps/cli

      # # Test the new CLI before releasing
      # - name: Install Bundle
      #   uses: celest-dev/setup-celest@main
      #   with:
      #     installer: ${{ steps.bundle.outputs.installer }}
      #   env:
      #     CELEST_VERBOSE: true
      # - name: Test
      #   working-directory: apps/cli
      #   run: dart test -t e2e-installed --fail-fast

      - name: Create Release
        id: create-release
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # 2.3.2
        with:
          name: v${{ steps.bundle.outputs.version }}
          files: ${{ steps.bundle.outputs.artifacts }}
